h1{
    color:#EB5A3C;
}
body{
    background-color:#e7d283;
}
button {
    color:#EDF4C2;
    background-color:#DF9755;
}
#s1 {
    color:#DF9755;
}
#box {
    background-color: blue;
}
.heading {
    color:red;
}